# Instructions

For the second part of the assignment today, we're going to get a little bit of practice with `Pandas`. We'll ask that you do a couple of different things using the new tools that we learned about (methods for combining data sets, `pd.cut`, and `pivot tables`).

# Assignment Questions

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

In [8]:
import pandas as pd
df_red = pd.read_csv('data/winequality-red.csv', sep=';')
df_white = pd.read_csv('data/winequality-white.csv', sep=';')

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data (**Hint**: See `day10-intro_pandas`, `week5` if you need a refresher on these).

In [10]:
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [11]:
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

3) I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.  
  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

In [17]:
#mean alcohol content
mean_red = df_red['alcohol'].mean()
mean_white = df_white['alcohol'].mean()
print('red: ' + str(mean_red))
print('white: ' + str(mean_white))

red: 10.422983114446502
white: 10.514267047774638

In [158]:
series_red = df_red['alcohol'] > mean_red
series_red.name = 'alcohol_bool'
series_white = df_white['alcohol'] > mean_white
series_white.name = 'alcohol_bool'
series_red

0       False
1       False
2       False
3       False
4       False
        ...
1594     True
1595     True
1596     True
1597    False
1598     True
Name: alcohol_bool, Length: 1599, dtype: bool

In [151]:
#merge
joined_red = df_red.join(series_red)
joined_white = df_white.join(series_white)

joined_red2 = pd.concat([df_red, series_red], axis=1)
joined_white2 = pd.concat([df_white, series_white], axis=1)
joined_red

,fixed_acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_bool
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,False
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,False
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,False
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,True
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,True
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,False
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,True

In [70]:
joined_red.query('alcohol_bool == True')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_bool
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,True
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,True
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7,True
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.99660,3.46,0.57,10.6,6,True
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.99750,3.42,0.60,10.8,6,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,True
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,True
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,True

In [71]:
joined_white.query('alcohol_bool == True')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_bool
9,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.99380,3.22,0.45,11.0,6,True
10,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.99080,2.99,0.56,12.0,5,True
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.99200,3.18,0.63,10.8,5,True
13,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.99120,3.54,0.52,12.4,7,True
15,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.99140,3.25,0.55,11.4,7,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,6.1,0.34,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6,True
4891,5.7,0.21,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6,True
4893,6.2,0.21,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,True
4896,5.5,0.29,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,True
4897,6.0,0.21,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,True

  
4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins based off their fixed acidity. 
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in ** the top bin in terms of fixed acidity.

In [187]:
df_red.rename(columns={'fixed acidity' : 'fixed_acidity'}, inplace = True)
bins_red = pd.cut(df_red['fixed_acidity'], bins = 5, labels=[1, 2, 3, 4, 5])
bins_red.name = 'fixed_acidity_bins'
bins_white = pd.cut(df_white['fixed acidity'], bins = 5, labels=[1, 2, 3, 4, 5])
bins_white.name = 'fixed_acidity_bins'
bins_red

0       2
1       2
2       2
3       3
4       2
       ..
1594    1
1595    1
1596    1
1597    1
1598    1
Name: fixed_acidity_bins, Length: 1599, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [188]:
joined_red_bins = pd.concat([df_red, bins_red], axis=1)
joined_red_bins2 = df_red.join(bins_red)
joined_white_bins = pd.concat([df_white, bins_white], axis=1)
joined_white_bins2 = df_white.join(bins_white)
#joined_red_bins2.groupby('fixed_acidity_bins').count()
joined_red_bins2.query('fixed_acidity_bins != 5')

,fixed_acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fixed_acidity_bins
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,2
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,2
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1

In [152]:
joined_white_bins.query('fixed_acidity_bins != 5')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fixed_acidity_bins
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,2
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,2
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,2

5) Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this.

In [179]:
#df_red.groupby('quality')['alcohol'].count()
#red_alc = df_red.query('alcohol > alcohol.mean()').groupby('quality')['alcohol'].mean()
df_red_above_alc_mean = df_red.query('alcohol > alcohol.mean()')
pd.pivot_table(df_red_above_alc_mean, values='alcohol', index='quality')

           alcohol
quality
3        10.866667
4        11.295000
5        11.088686
6        11.437214
7        11.708236
8        12.368750

In [181]:
df_white_above_alc_mean = df_white.query('alcohol > alcohol.mean()')
pd.pivot_table(df_white_above_alc_mean, values='alcohol', index='quality')

           alcohol
quality
3        11.525000
4        11.425532
5        11.211099
6        11.604366
7        11.924761
8        12.139437
9        12.625000

6) Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` quintile. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` quintile. 
 
  Use a `pivot table` to solve this.

In [191]:
fixed_acidity_bins_red = pd.cut(df_red['fixed_acidity'], bins = 5, labels = [0.2, 0.4, 0.6, 0.8, 1])
fixed_acidity_bins_red.name = 'fixed_acidity_bins'
df_red_joined = df_red.join(fixed_acidity_bins_red)
pd.pivot_table(df_red_joined, values='alcohol', index='quality', columns='fixed_acidity_bins')

fixed_acidity_bins        0.2        0.4        0.6        0.8        1.0
quality
3                    9.875000  10.500000   9.150000   9.000000        NaN
4                   11.006667   9.981667   9.920000   9.966667        NaN
5                   10.304245   9.773727   9.846429  10.229630  12.050000
6                   11.223529  10.431985  10.687395  10.480952  10.240000
7                   12.195402  11.486413  11.383333  10.809524   9.866667
8                   13.633333  11.937500  11.916667   9.800000        NaN

In [195]:
fixed_acidity_bins_white = pd.cut(df_white['fixed acidity'], bins = 5, labels = [0.2, 0.4, 0.6, 0.8, 1])
fixed_acidity_bins_white.name = 'fixed_acidity_bins'
df_white_joined = df_white.join(fixed_acidity_bins_white)
pd.pivot_table(df_white_joined, values='alcohol', index='quality', columns='fixed_acidity_bins')

fixed_acidity_bins        0.2        0.4        0.6   0.8   1.0
quality
3                    9.850000  10.472727  10.540000  9.65   NaN
4                   10.786364  10.102564  10.126471  9.90   NaN
5                   10.136635   9.732173  10.176452  9.70   NaN
6                   10.902765  10.529056  10.635247  9.50  11.1
7                   12.021405  11.303724  10.988679   NaN   NaN
8                   12.403030  11.486364  11.080000   NaN   NaN
9                         NaN  12.625000  10.400000   NaN   NaN